---
{
    "streamId": "pages-locations",
    "urlFormat": "kg-go-{{.meta.locale}}-{{.uid}}.html"
}
---

{{define "eps.tmpl" -}}
<html>
    <body>
        <p>Spruce M4 Test EPS:</p>
        <p>Go HTML Template</p>
        <h1>The name is: {{.name}} ({{.meta.locale}})</h1>
        <h2>The description is: {{.description}}</h2>
        <p>The external entity id is: {{.id}}</p>
    </body>
</html>
{{end}}
