---
{
    "streamId": "pages-locations-small",
    "urlFormat": "kg-go-{{.meta.locale}}-{{.uid}}.html"
}
---

{{define "eps.tmpl" -}}
<html>
    <body>
        <p>Spruce M4 Test EPS:</p>
        <p>Go HTML Template</p>
        <h1>The name is: {{.name}} ({{.meta.locale}})</h1>
        <h2>The description is: {{.description}}</h2>
        <p>The external entity id is: {{.id}}</p>
        <div>{{ translate "This site is property of: [[.name]]" .profile}}<div>
        <div>{{ translatePlural "[[count]] Boutique" "[[count]] Boutiques" 2}}<div>
        <div>{{ convertRTFToHTML "**bold** *italics* ++underlined++ [hyperlink](link.com)"}}<div>
        <div>{{ convertRTFToHTML "plaintext"}}<div>
    </body>
</html>
{{end}}
