---
{
    "urlFormat": "{{.global.staticSlug}}.html"
}
---

{{define "static.tmpl" -}}
<html>
    <body>
        <p>Spruce Static Rendered Page</p>
        <p>The global data is: {{.global.test}}</p>
    </body>
</html>
{{end}}
